
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<div>
    <form action="Index" method="post">
        Customer Code :<input type="text" name="txtCustomerCode" placeholder="enter the customer code here"/><br/>
        Customer Name :<input type="text" name="txtCustomerName" placeholder="enter the customer name here"/><br/>
        <input type="submit" value="Save"/>
    </form>
</div>
</body>
</html>
